*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mukta', sans-serif;
    color: rgb(121, 119, 119);
}

.container{
    width: 65%;
    margin: 0 auto;
}

/*HEADER*/
header{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.col-1-header, .col-2-header{
    width: 50%;
    display: flex;
    align-items: center;
}

.col-2-header{
    display: flex;
    justify-content: flex-end;
}

header ul{
    display: flex;
    align-items: center;
}

header li{ 
    list-style-type: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 10px;
}

button{
    border-style: none;
    background-color: rgb(23, 79, 248);
    color: white;
    padding: 5px 10px;
}

/*MAIN*/

.background-box{
    height: 550px;
    background-color: rgba(177, 209, 235, 0.862)
}

/*PRIMA PARTE MAIN*/
/*Prima riga-titolo main*/
h1{
    font-family: 'Mukta Malar', sans-serif;
    color: black;
    font-size: 65px;
    padding: 60px 0 40px 0;
    line-height: 1;
}

/*Seconda riga*/
.row{
    position: relative;
}

.col-text{
    width: 30%;
    padding-top: 15px;
    line-height: 1.2;
    font-size: 15px;
}

.col-text button{
    padding: 10px;
    font-size: 12px;
    margin: 20px 0 20px 0;
}

.col-text span{
    font-size: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.col-jumbo img{
    height: 350px;
    position: absolute;
    right: 0;
    top: 30px;
}

/*SECONDA PARTE MAIN*/

.section{
    padding: 120px 0 0 60px;
}

h2{
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 35px;
    color: black;
}

.radio{
    display: inline-block;
    padding-right: 40px;
}




