*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mukta', sans-serif;
    color: rgb(121, 119, 119);
}

.container{
    width: 65%;
    margin: 0 auto;
}

.container-1{
    width: 55%;
    margin: 0 auto;
}

/*HEADER*/
header{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.col-1-header, .col-2-header{
    width: 50%;
    display: flex;
    align-items: center;
}

.col-2-header{
    display: flex;
    justify-content: flex-end;
}

header ul{
    display: flex;
    align-items: center;
}

header li{ 
    list-style-type: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 10px;
}

button{
    border-style: none;
    background-color: rgb(23, 79, 248);
    color: white;
    padding: 5px 10px;
}

/*MAIN*/

.background-box{
    height: 550px;
    background-color: rgba(177, 209, 235, 0.862)
}

/*PRIMA PARTE MAIN*/
/*Prima riga-titolo main*/
h1{
    font-family: 'Mukta Malar', sans-serif;
    color: black;
    font-size: 65px;
    padding: 60px 0 40px 0;
    line-height: 1;
}

/*Seconda riga*/
.col-text{
    width: 30%;
    padding-top: 20px;
    line-height: 1.2;
    font-size: 15px;
    float: left;
}

.col-text button{
    padding: 10px;
    font-size: 12px;
    margin: 20px 0 20px 0;
}

.fa-arrow-down{
    font-size: 30px;
    color: black;
    margin-top: 80px;
}

.col-jumbo img{
    height: 350px;
    margin-top: 25px;
}

/*SECONDA PARTE MAIN*/
.padding{
    padding: 25px 20px;
}

.section{
    margin-top: 100px;
}

.row-fat{
    display: flex;
}

h2{
    font-family: 'Mukta Vaani', sans-serif;
    color: black;
    font-size: 30px;
}

.radio{
    display: inline-block;
    padding: 30px 40px 25px 0;
    font-size: 15px;
    }

/*3 colonne*/
h3{
    font-family: 'Mukta Vaani', sans-serif;
    color: black;
    font-size: 23px;
}


.col-fat{
    margin-top: 10px;
    height: 830px;
    width: 100%;
    border: 1px solid rgb(187, 187, 187);
}

.margin-right{
    margin-right: 40px;
}

.border-bottom{
    text-align: center;
    font-size: 14px;
    border-bottom:  1px solid rgb(187, 187, 187);
    padding: 5px;
}

.grassetto{
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 14px;
    color: black;
}

p{
    font-size: 14px;
    margin-top: 5px;
}

/*stile lista*/
.col-fat ul{
    list-style-type: none;
    margin-top: 30px;
}

.col-fat li{
    margin-top: 10px;
    font-size: 14px;
    display: flex;
}

/*ICON*/
.icon-user{
    color: black;
    margin: 5px;
    font-size: 13px;
}

.fa-euro-sign{
    color: black;
    font-size: 12px;
    margin-right: 5px;
}

.icon{
    color: black;
    font-size: 12px;
    margin: 5px 5px 0 0;
}

/*button*/

.col-fat button{
    border-style: none;
    background-color: rgb(23, 79, 248);
    color: white;
    margin: 30px 0;
    padding: 10px 25px;
    font-size: 12px;
}

/*seconda lista-check*/

hr{
    color: rgba(167, 167, 167, 0.881);
    background: rgba(180, 179, 179, 0.821);
    border: 0;
    height: 1px;
    width: 50px;
    margin: 25px 0;
}

.fa-check{
    color: rgb(23, 79, 248);
}

/*row-tean*/
.col-team{
    margin-top: 20px;
    border: 1px solid rgb(187, 187, 187);
    position: relative;
}

.col-content{
    padding: 20px;
}

.content{
    width: 70%;
}

.content .text-partner{
    line-height: 1.2;
    margin-top: 30px;
}

.col-button-team{
    position: absolute;
    right: 20px;
    top: 70px;
}

.col-button-team button{
    padding: 8px 25px;
}

/*row partner*/
.row-partner{
    margin: 100px 0;
    line-height: 1.2;
    display: flex;
}

.img-height img{
    height: 400px;
}

.width-40{
    width: 40%;
    margin: 40px 30px;
}

.button-partner{
    background-color: transparent;
    border: 1px solid rgb(126, 125, 125);
    color: rgb(126, 125, 125);
    padding: 7px;
    font-size: 12px;
    margin-top: 20px;
}

/*row calc*/
.row-calc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-drop{
    width: 30%;
    margin-top: 30px;
}

.margin-right-10{
    margin-right: 30px;
}

.col-drop img{
    height: 150px;
}

.col-drop h3{
    font-size: 20px;
    line-height: 1.2;
}

.col-drop p{
    font-size: 15px;
    line-height: 1.2;
    margin-top: 20px;
}

.style-content{
    margin: 70px 0;
    width: 60%;
}

.style-content a{
    font-size: 12px;
}

.style-content h2{
    margin-bottom: 40px;
    line-height: 1.2;
}

/*squares*/
#squares-section{
    display: flex;
}

.display-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.bg-grey{
    background-color: rgba(210, 210, 210, 0.754);
    padding: 30px;
    color: rgb(72, 69, 69);
}

.bg-grey img{
   height: 60px;
}

.bg-grey hr{
    width: 70px;
 }

 .bg-grey p{
    margin-bottom: 40px;
 }

.square{
    width: calc(100%/3);
    height: calc(100vw/3);
}

.square-sm{
    width: 50%;
    height: 50%;
    position: relative;
}

.square-sm img{ 
    filter: invert(1);
}

/*stile img e bg squares*/
.bg-green{
    background-color: rgba(162,211,155,255);
    border: 10px solid rgba(209,233,205,255);
}

.bg-green img{
    height: 40px;
    position: absolute;
    top: 45%;
    left: 20%;
}

.bg-violet{
    background-color: rgba(97,8,43,255);
}

.bg-violet img{
    height: 90px;
    position: absolute;
    top: 30%;
    left: 28%;
}

.bg-blue{
    background-color: rgba(0,147,206,255);
}

.bg-blue img{
    height: 20px;
    position: absolute;
    top: 50%;
    left: 28%;
}

.bg-red-1{
    background-color: rgba(255,28,28,255);
}

.bg-red-1 img{
    height: 50px;
    position: absolute;
    top: 45%;
    left: 28%;
}

.bg-red{
    background-color: rgba(213,0,31,255);
}


.bg-red img{
    height: 30px;
    position: absolute;
    top: 45%;
    left: 32%;
}

.bg-lightblue{
    background-color: rgba(180,208,231,255);
}

.bg-lightblue img{
    height: 10px;
    position: absolute;
    top: 50%;
    left: 32%;
}

.bg-darkblue{
    background-color: rgba(13,36,129,255);
}

.bg-darkblue img{
    height: 55px;
    position: absolute;
    top: 45%;
    left: 28%;
}

.bg-yellow{
    background-color: rgba(255,216,48,255);
}

.bg-yellow img{
    height: 70px;
    position: absolute;
    top: 40%;
    left: 30%;
}

/*bg-blue*/
.style-bg{
    height: 150px;
    background-color: rgba(177, 209, 235, 0.862);
}

.row-content-1{
    display: flex;
    padding: 40px 0;
    position: relative;
}

.col-h2{
    width: 50%;
    line-height: 1.2;
    color: rgba(97,8,43,255);
}

.col-btn button{
     background-color: white;
     color: grey;
     padding: 10px 35px;
     position: absolute;
     right: 0;
}

/*domande frequenti*/
.style-domande hr{
    width: 100%;
}

.style-domande p{
    font-family: 'Mukta Vaani', sans-serif;
    color: black;
    font-size: 14px;
}

.fa-angle-down{
    display: flex;
    margin: 10px;
}

.box-domande{
    margin: 100px 0;
}

/*FOOTER*/

.bg-footer{
    background-color: black;
}

.li-footer{
    color: white;
    font-size: 14px;
    list-style-type: none;
    line-height: 1.5; 
}

.row-1{
    display: flex;
    justify-content: center; 
    padding: 60px 0;
}

.col-sm{
    margin-right: 70px;
}

h3{
    font-size: 18px;
    color: white;
    align-items: center;
    margin-bottom: 10px;
}

.ita::after{
    color: white;
    content: '\25B2';
    font-size: 7px;
    padding: 10px;
}

.bg-footer hr{
    width: 80px;
}

.fa-earth{
    font-size: 13px;
    color: white;
    padding-right: 20px;
    
}

footer span{
    font-size: 13px;
    color: white;
}

footer .padding-{
    padding: 20px 240px;
}

