*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mukta', sans-serif;
    color: rgb(121, 119, 119);
}

.container{
    width: 65%;
    margin: 0 auto;
}

.container-1{
    width: 55%;
    margin: 0 auto;
}

/*HEADER*/
header{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.col-1-header, .col-2-header{
    width: 50%;
    display: flex;
    align-items: center;
}

.col-2-header{
    display: flex;
    justify-content: flex-end;
}

header ul{
    display: flex;
    align-items: center;
}

header li{ 
    list-style-type: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 10px;
}

button{
    border-style: none;
    background-color: rgb(23, 79, 248);
    color: white;
    padding: 5px 10px;
}

/*MAIN*/

.background-box{
    height: 550px;
    background-color: rgba(177, 209, 235, 0.862)
}

/*PRIMA PARTE MAIN*/
/*Prima riga-titolo main*/
h1{
    font-family: 'Mukta Malar', sans-serif;
    color: black;
    font-size: 65px;
    padding: 60px 0 40px 0;
    line-height: 1;
}

/*Seconda riga*/
.col-text{
    width: 30%;
    padding-top: 20px;
    line-height: 1.2;
    font-size: 15px;
    float: left;
}

.col-text button{
    padding: 10px;
    font-size: 12px;
    margin: 20px 0 20px 0;
}

.fa-arrow-down{
    font-size: 30px;
    color: black;
    margin-top: 80px;
}

.col-jumbo img{
    height: 350px;
    margin-top: 25px;
}

/*SECONDA PARTE MAIN*/
.padding{
    padding: 25px 20px;
}

.section{
    margin-top: 100px;
}

.row-fat{
    display: flex;
}

h2{
    font-family: 'Mukta Vaani', sans-serif;
    color: black;
    font-size: 35px;
}

.radio{
    display: inline-block;
    padding: 30px 40px 25px 0;
    font-size: 15px;
    }

/*3 colonne*/
h3{
    font-family: 'Mukta Vaani', sans-serif;
    color: black;
    font-size: 23px;
}


.col-fat{
    margin-top: 10px;
    height: 830px;
    width: 100%;
    border: 1px solid rgb(187, 187, 187);
}

.margin-right{
    margin-right: 40px;
}

.border-bottom{
    text-align: center;
    font-size: 14px;
    border-bottom:  1px solid rgb(187, 187, 187);
    padding: 5px;
}

.grassetto{
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 14px;
    color: black;
}

p{
    font-size: 14px;
    margin-top: 5px;
}

/*stile lista*/
.col-fat ul{
    list-style-type: none;
    margin-top: 30px;
}

.col-fat li{
    margin-top: 10px;
    font-size: 14px;
    display: flex;
}

/*ICON*/
.icon-user{
    color: black;
    margin: 5px;
    font-size: 13px;
}

.fa-euro-sign{
    color: black;
    font-size: 12px;
    margin-right: 5px;
}

.icon{
    color: black;
    font-size: 12px;
    margin: 5px 5px 0 0;
}

/*button*/

.col-fat button{
    border-style: none;
    background-color: rgb(23, 79, 248);
    color: white;
    margin: 30px 0;
    padding: 10px 25px;
    font-size: 12px;
}

/*seconda lista-check*/

hr{
    color: rgba(167, 167, 167, 0.881);
    background: rgba(180, 179, 179, 0.821);
    border: 0;
    height: 1px;
    width: 50px;
    margin: 25px 0;
}

.fa-check{
    color: rgb(23, 79, 248);
}

/*row-tean*/
.col-team{
    margin-top: 20px;
    border: 1px solid rgb(187, 187, 187);
    position: relative;
}

.col-content{
    padding: 20px;
}

.content{
    width: 60%;
}

.col-button-team{
    position: absolute;
    right: 20px;
    top: 70px;
}

.col-button-team button{
    padding: 8px 25px;
}

/*row partner*/
.row-partner{
    margin-top: 100px;
    display: flex;
}

.img-height img{
    height: 400px;
}

.width-40{
    width: 40%;
    margin: 40px 30px;
}

